[submodule "apps/likes-app"]
	path = apps/likes-app
	url = https://github.com/farhanangullia/likes-app.git
[submodule "apps/ecommerce-app"]
	path = apps/ecommerce-app
	url = https://github.com/farhanangullia/ecommerce-app.git
